.slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .value-container {
    margin-bottom: 25px;

    #demo {
      color: fuchsia;
      font-size: 60px;
    }
  }

  .slider {
    width: 80%;
    cursor: pointer;
  }
}
